body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-image: url(../assets/getty_938993594_401542.jpg);
   
    color: rgb(255, 255, 255);
}

.btn {
    color: rgba(1, 75, 18);
}